



#drum-machine{

}

#drumpadlayout{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  width: 60vw;
  height: 60vh;
}
.drum-pad{
 color: black;
 background-color: rgba(255, 255, 255, 0.8);
 border: 2px solid rgba(0, 0, 0, 0.8);
 padding: 33px;
 font-size: 30px;
 text-align: center;
}
